.li {
  position: relative;
}
.li.active {
  border-radius: 50px;
  background-color: #07072e;
}
.li.active a div:first-child:before {
  content: '';
  position: absolute;
  inset: 5px;
  width: 40px;
  border-radius: 50%;
  transition: .5s;
  background-color: #00e3b5;
}
