@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --swiper-theme-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: inherit;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.top-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(10, 10, 48, 0.1) 0%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 12, 0.05) 100%),
    linear-gradient(0deg, rgba(0, 0, 34, 0.1) 0%, rgba(0, 0, 34, 0.1) 100%), 50%;
}

.board-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(8, 8, 47, 0.8) 0.97%, rgba(0, 0, 3, 0.07) 32.12%);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  top: 34%;
  width: 72px;
  height: 72px;
  background-color: #07072e;
  border-radius: 50%;
  margin-left: -46px;
  margin-right: -46px;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 38px;
}
.swiper-button-prev:after {
  margin-right: 2px;
}
.swiper-button-next:after {
  margin-left: 2px;
}
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}
.swiper-button-loading:after {
  content: none;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bilego-spinner .circle:nth-of-type(1) {
  transform: rotate(0deg);
}
.bilego-spinner .circle:nth-of-type(1) div {
  animation: spin 2s infinite linear;
}
.bilego-spinner .circle:nth-of-type(2) {
  transform: rotate(70deg);
}
.bilego-spinner .circle:nth-of-type(2) div {
  animation: spin 2s infinite linear;
}
.bilego-spinner .circle:nth-of-type(3) {
  transform: rotate(140deg);
}
.bilego-spinner .circle:nth-of-type(3) div {
  animation: spin 2s infinite linear;
}
.bilego-spinner {
  animation: spin 5s infinite linear;
}
